{%extends 'all-news/base.html'%}
{% block content %}

<div class="container">
  <div class="card mb-3 shadow" id="card-article">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{article.article_image.url}}" class="img-fluid rounded-start" alt="My Image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{article.title}}</h1>
          <div class="row">
            {% autoescape on %}
            {{article.post| safe}}
           {% endautoescape %}
       
          </div>
          <!-- <p class="card-text" id="post">{{article.post}}</p> -->
          <p class="card-text"><small class="text-muted" id="small">Posted {{article.pub_date|timesince}} by {{article.editor.first_name}} {{article.editor.last_name}}</small></p>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}