{%extends 'all-news/base.html'%}
{% block content %}

<div class="container">

  <div class="row">
    <img src="{{article.article_image.url}}" class="img-responsive" alt="" style="height: 100%; width:100%;">
  </div>

  <div class="row">
    <h1 class="text-center">{{article.title}}</h1>
  </div>

  <div class="row">
    {% autoescape off %}
    {{ article.post }}
    {% endautoescape %}
  </div>

  <div class="row">
    <p id="nice">Posted {{article.pub_date|timesince}} by {{article.editor}}</p>
  </div>

</div>

{% endblock %}